{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}
    Zmiana e-maila
{% endblock %}
{% block body %}
    <div class="col-lg-4 col-lg-offset-4">
    <h3>Edycja e-maila:</h3>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div>
        {{ form_errors(form) }}
    </div>
        <a class="btn-sm btn-info" href={{ path('showAllUsers') }}>Powrót</a>
    </div>
{% endblock %}