{% extends "::base.html.twig" %}
{% block title %}
    Rejestracja
{% endblock %}
{% block body %}
        <p>
            Imię: {{ user.name }}
        </p>
        <p>
            Nazwisko: {{ user.surname }}
        </p>
        <p>
            Opis: {{ user.description }}
        </p>
    <a href={{ path('userEditForm', {'id':user.id}) }}>Edytuj</a>
    <a href={{ path('showAllUsers') }}>Powrót</a>
{% endblock %}