{% extends "::base.html.twig" %}
{% block title %}
    Rejestracja
{% endblock %}
{% block body %}
        <div class="row">
            <div class="col-lg-3">
                <h3>Dane użytkownika:</h3>
                <p>
                    Imię: {{ person.name }}
                </p>
                <p>
                    Nazwisko: {{ person.surname }}
                </p>
                <p>
                    Opis: {{ person.description }}
                </p>
            </div>
            <div class="col-lg-3">
                {% if person.adresses is not empty %}
                    <h3>Adresy:</h3>
                    {% for address in person.adresses %}
                        <p>Ulica: {{ address.street }}</p>
                        <p>Numer domu: {{ address.houseNumber }}</p>
                        <p>Miasto: {{ address.city }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-lg-3">
                {% if person.emails is not empty %}
                    <h3>Emaile:</h3>
                    {% for email in person.emails %}
                        <p>Email: {{ email.address }}</p>
                        <p>Rodzaj: {{ email.type }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-lg-3">
                {% if person.phones is not empty %}
                    <h3>Telefony:</h3>
                    {% for phone in person.phones %}
                        <p>Numer: {{ phone.number }}</p>
                        <p>Rodzaj: {{ phone.type }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    <a class="btn-sm btn-primary" href={{ path('personEditForm', {'id':person.id}) }}>Edytuj</a>
    <a href={{ path('showAllPersons') }}>Powrót</a>
{% endblock %}